@font-face {
    font-family: "CTMKF";
    font-style: normal;
    font-weight: 400;
    src: local("CTMKF Regular"), local("CTMKF-Regular"), url("./fonts/CTMKF/ctmkf.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 100;
    src: local("Rubik Thin"), local("Rubik-Thin"), url("./fonts/Rubik/Rubik-Thin.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 100;
    src: local("Rubik Thin Italic"), local("Rubik-ThinItalic"), url("./fonts/Rubik/Rubik-ThinItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 200;
    src: local("Rubik ExtraLight"), local("Rubik-ExtraLight"), url("./fonts/Rubik/Rubik-ExtraLight.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 200;
    src: local("Rubik ExtraLight Italic"), local("Rubik-ExtraLightItalic"), url("./fonts/Rubik/Rubik-ExtraLightItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    src: local("Rubik Light"), local("Rubik-Light"), url("./fonts/Rubik/Rubik-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 300;
    src: local("Rubik Light Italic"), local("Rubik-LightItalic"), url("./fonts/Rubik/Rubik-LightItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: local("Rubik Regular"), local("Rubik-Regular"), url("./fonts/Rubik/Rubik-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 400;
    src: local("Rubik Italic"), local("Rubik-Italic"), url("./fonts/Rubik/Rubik-Italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src: local("Rubik Medium"), local("Rubik-Medium"), url("./fonts/Rubik/Rubik-Medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 500;
    src: local("Rubik Medium Italic"), local("Rubik-MediumItalic"), url("./fonts/Rubik/Rubik-MediumItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: local("Rubik Bold"), local("Rubik-Bold"), url("./fonts/Rubik/Rubik-Bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 700;
    src: local("Rubik Bold Italic"), local("Rubik-BoldItalic"), url("./fonts/Rubik/Rubik-BoldItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: local("Rubik ExtraBold"), local("Rubik-ExtraBold"), url("./fonts/Rubik/Rubik-ExtraBold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 800;
    src: local("Rubik ExtraBold Italic"), local("Rubik-ExtraBoldItalic"), url("./fonts/Rubik/Rubik-ExtraBoldItalic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    src: local("JetBrains Mono Regular"), local("JetBrainsMono-Regular"), url("./fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2");
    font-display: swap;  
}
