@import "fonts.css";

html {
    background-color: #24252d;
    min-height: 100vh + 8px;
}

body {
    width: 800px;
    min-height: 100vh;
    margin: auto;
    color: white;
    font-family: "Rubik", "CTMKF", monospace;
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
    }
}

hr {
    color: white;
}

.title,
#player-count,
.room-info {
    text-align: center;
}

.title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}

#player-count {
    margin: 0;
}

.room-info {
    font-size: 24px;
    font-weight: 400;
}

table {
    width: 100%;
    max-width: 100%;
    margin: auto;
}

th {
    border-bottom: 1px solid white;
    font-style: normal;
    font-weight: 1000;
}

td {
    text-align: center;
}

img.mii {
    max-width: 32px;
    max-height: 32px;
}

#rooms-list>thead>tr,
#rooms-list>tbody>tr {
    font-size: 18px;
}

tr.player-row {
    height: 46px;
    min-height: 46px;
}

td {
    padding: 5px 10px 5px 10px;
}

td.mii {
    width: 32px;
    min-width: 32px;
}

tr.closed {
    display: none;
}

.scroll {
    max-width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}
